<form method="POST" action="/products{% if product.id %}/{{ product.id }}{% endif %}">
    {% if product.id %}
    <input type="hidden" name="id" value="{{ product.id }}" />
    {% endif %}
    <div>
        <label for="name">Name:</label>
        <input type="text" name="name" id="name" minlength="4" required value={{ product.name }} />
    </div>
    <div>
        <label for="slug">Shoe Type:</label>
        <input type="text" name="slug" id="slug" minlength="4" required value={{ product.slug }} />
    </div>
    <div>
        <label for="price">Price:</label>
        <input type="text" name="price" id="price" minlength="4" required value={{ product.price }}  />
    </div>
    <div>
        <input type="submit" value="Submit"/>
        <a href="/products">Go Back</a>
    </div>
</form>