{% extends 'layouts/base.twig'%}

{% block main_content %}
<h2>About {{ product.name }}</h2>
    <ul>
        <li>
            <label> Id: </label> {{ product.id }}
        </li>
        <li>
            <label> Name: </label> {{ product.name }}
        </li>
        <li>
            <label> Slug: </label> {{ product.slug }}
        </li>
        <li>
            <label> Price: $</label>{{ product.price }}
        </li>
    </ul>
    <p>
        <a href="/products/{{product.id}}/edit">Edit</a> | <a href="/products/{{product.id}}/delete">Delete</a> | <a href="/products">All Products</a>
    </p>
{% endblock %}