{% extends 'layouts/base.twig'%}

{% block main_content %}
<h2>About {{ product.title }}</h2>
    <ul>
        <li>
            <label> Title: </label> {{ product.title }}
        </li>
        <li>
            <label> Slug: </label> {{ product.slug }}
        </li>
        <li>
            <label> Description: </label> {{ product.description }}
        </li>
        <li>
            <label> Price: $</label>{{ product.price }}
        </li>
        <li>
            <label> Published: </label>{{ product.is_published }}
        </li>
    </ul>
    <p>
        <a href="/products/{{product.id}}/edit">Edit</a> | <a href="/products/{{product.id}}/delete">Delete</a> | <a href="/products">All Products</a>
    </p>
{% endblock %}